main {
	//overflow: hidden;
	//min-height: 101vh;
	margin-bottom: -4.15em;
	overflow-y: hidden;
	#particles-js {
		position: absolute;
		width: 100vw;
		height: 100vh;
	}
	#contact {
		//background-color: #20202055;

		.card {
			background-color: #202020;
			color: white;
			form {
				input:not([type="submit"]),
				textarea {
					background-color: #202020;
					border: none;
					border-radius: 0px;
					border-bottom: 2px solid #fd7e14;
					color: white;
				}
			}
		}
	}
}
// @media screen and (max-width: 540px) {
// 	#contact {
// 		.container {
// 			padding-top: 10px !important;
// 		}
// 	}
// }
