main {
  margin-bottom: -4.15em;
  overflow-y: hidden;
}

main #particles-js {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

main #contact .card {
  background-color: #202020;
  color: white;
}

main #contact .card form input:not([type="submit"]),
main #contact .card form textarea {
  background-color: #202020;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #fd7e14;
  color: white;
}
